body { 
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,48,138,1) 35%, rgba(0,212,255,1) 100%); 
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #13fab8 0%, #26d382 100%);
  box-shadow: 0 20px 30px -6px rgba(2, 255, 234, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}